<header class="header">
  <div class="container" *ngIf="currentWeather">

    <a href="#" class="logo">
      <img src="../favicon.ico" alt="logo" width="364" height="58" alt="logo">
    </a>

    <div class="search-view" data-search-view>
      <div class="search-wrapper">
        <input type="search" name="search" placeholder="Search city..." autocomplete="off" class="search-field" [(ngModel)]="searchLocation" (keydown)="onKeyDown($event)">

        <span class="m-icon leading-icon" (click)="onSearch()">search</span>

        <button class="icon-btn leading-icon has-state" aria-label="close search" data-search-toggler>
          <span class="m-icon">arrow_back</span>
        </button>
      </div>
      
      <div class="search-result active" data-search-result>
        <ul class="view-list" data-search-list>
          <li class="view-item" *ngFor="let item of geoCoding">
            <span class="m-icon">location_on</span>
            <div>
              <p class="item-title">{{ item.name }}</p>
              <p class="label-2 item-subtitle">{{ item.country }}</p>
            </div>
            <a href="#" class="item-link has-state" data-search-toggler></a>
          </li>
        </ul>
      </div>
    </div>

    

    <div class="header-actions">
      <button class="icon-btn has-state" aria-label="open search" data-search-toggler>
        <span class="m-icon icon">search</span>
      </button>

      <button class="switch-button" (click)="toggleTemperatureUnit()">Switch to °{{ isCelsius ? 'F' : 'C' }}</button>

      <a href="#" class="btn-primary has-state" data-current-location-btn (click)="onCurrentLocationClick()">
        <span class="m-icon">my_location</span>
        <span class="span">Current Location</span>
      </a>
    </div>
  </div>

  <!-- Display error message if any -->
  <div *ngIf="error" class="error-message">
    <p>{{ error }}</p>
  </div>
</header>








<main>
  <article class="container" data-container>
    <div class="content-left">
      <!-- CURRENT WEATHER -->
      <section class="section current-weather" aria-label="current weather" data-current-weather>
        <div class="card card-lg current-weather-card" *ngIf="currentWeather">

           <h2 class="title-2 card-title">Now</h2>

          <div class="weapper" *ngIf="currentWeather">
            <p class="heading">{{ convertTemperature(currentWeather.main.temp) | number:'1.0-0'}}°{{ isCelsius ? 'C' : 'F' }}</p>
            
            <img src="../assets/images/{{ currentWeather.weather[0].main }}.svg" width="64" height="64" alt="Sunny Day" class="weather-icon">
          </div>

          <p class="body-3">{{ currentWeather.weather[0].main }} ({{ currentWeather.weather[0].description }})</p>

          <ul class="meta-list">

              <li class="meta-item">
                <span class="m-icon">calendar_today</span>

                <p class="title-3 meta-text">{{ (currentWeather.dt * 1000) | date:'EEEE, MMMM d' }} <br> {{ (currentWeather.dt * 1000) | date:'shortTime' }}</p>
              </li>

              <li class="meta-item">
                <span class="m-icon">location_on</span>

                <p class="title-3 meta-text">{{ currentWeather.name }}, {{ currentWeather.sys.country }}</p>
              </li>
              
          </ul>

        </div>
      </section>






      <!-- FORECAST -->
      <section class="section forecast" aria-labelledby="forecast-label" data-5-day-forecast>
        <h2 class="title-2" id="forecast-label">5 day Forecast</h2>

        <div class="card card-lg forecast-card " *ngIf="currentWeather">
          <ul>
            
            <li class="card-item">

              <div class="icon-wrapper">
                <img src="../assets/images/{{ forecast.list[8].weather[0].main }}.svg" width="36" height="36" alt="Rain" class="weather-icon">

                <span class="span">
                  <p class="title-2">{{ convertTemperature(forecast.list[8].main.temp) | number:'1.0-0' }}&deg;<sup>{{ isCelsius ? 'C' : 'F' }}</sup></p>
                </span>
              </div>

              <p class="label-1">{{ (forecast.list[8].dt * 1000) | date:'MMMM d' }}</p>

              <p class="label-1">{{ (forecast.list[8].dt * 1000) | date:'EEEE' }}</p>

            </li>

            <li class="card-item">

              <div class="icon-wrapper">
                <img src="../assets/images/{{ forecast.list[16].weather[0].main }}.svg" width="36" height="36" alt="Rain" class="weather-icon">

                <span class="span">
                  <p class="title-2">{{ convertTemperature(forecast.list[16].main.temp) | number:'1.0-0' }}&deg;<sup>{{ isCelsius ? 'C' : 'F' }}</sup></p>
                </span>
              </div>

              <p class="label-1">{{ (forecast.list[16].dt * 1000) | date:'MMMM d' }}</p>

              <p class="label-1">{{ (forecast.list[16].dt * 1000) | date:'EEEE' }}</p>

            </li>
             
            <li class="card-item">

              <div class="icon-wrapper">
                <img src="../assets/images/{{ forecast.list[24].weather[0].main }}.svg" width="36" height="36" alt="Rain" class="weather-icon">

                <span class="span">
                  <p class="title-2">{{ convertTemperature(forecast.list[24].main.temp) | number:'1.0-0' }}&deg;<sup>{{ isCelsius ? 'C' : 'F' }}</sup></p>
                </span>
              </div>

              <p class="label-1">{{ (forecast.list[24].dt * 1000) | date:'MMMM d' }}</p>

              <p class="label-1">{{ (forecast.list[24].dt * 1000) | date:'EEEE' }}</p>

            </li>

            <li class="card-item">

              <div class="icon-wrapper">
                <img src="../assets/images/{{ forecast.list[32].weather[0].main }}.svg" width="36" height="36" alt="Rain" class="weather-icon">

                <span class="span">
                  <p class="title-2">{{ convertTemperature(forecast.list[32].main.temp) | number:'1.0-0' }}&deg;<sup>{{ isCelsius ? 'C' : 'F' }}</sup></p>
                </span>
              </div>

              <p class="label-1">{{ (forecast.list[32].dt * 1000) | date:'MMMM d' }}</p>

              <p class="label-1">{{ (forecast.list[32].dt * 1000) | date:'EEEE' }}</p>

            </li>

            <li class="card-item">

              <div class="icon-wrapper">
                <img src="../assets/images/{{ forecast.list[39].weather[0].main }}.svg" width="36" height="36" alt="Rain" class="weather-icon">

                <span class="span">
                  <p class="title-2">{{ convertTemperature(forecast.list[39].main.temp) | number:'1.0-0' }}&deg;<sup>{{ isCelsius ? 'C' : 'F' }}</sup></p>
                </span>
              </div>

              <p class="label-1">{{ (forecast.list[39].dt * 1000) | date:'MMMM d' }}</p>

              <p class="label-1">{{ (forecast.list[39].dt * 1000) | date:'EEEE' }}</p>

            </li>

          </ul>
        </div>
      </section>

    </div>


    <div class="content-right">
      <!-- HIGHLIGHTS -->
      <section class="section highlights" aria-labelledby="highlights-label" data-highlights>
        <div class="card card-lg" *ngIf="currentWeather">

          <h2 class="title-2" id="highlights-label">Todays Highlights</h2>

          <div class="highlight-list">

            <div class="card card-sm highlight-card one">

              <h3 class="title-3">Air Quality Index</h3>

              <div class="wrapper">

                <span class="m-icon">air</span>

                <ul class="card-list">

                  <li class="card-item">
                    <p class="title-1">{{ airPollution.list[0].components.pm2_5 }}</p>

                    <p class="label-1">PM<sub>2.5</sub></p>
                  </li>
                  
                  <li class="card-item">
                    <p class="title-1">{{ airPollution.list[0].components.pm10 }}</p>

                    <p class="label-1">PM<sub>10</sub></p>
                  </li>
                  
                  <li class="card-item">
                    <p class="title-1">{{ airPollution.list[0].components.o3 }}</p>

                    <p class="label-1">O<sub>3</sub></p>
                  </li>
                  
                  <li class="card-item">
                    <p class="title-1">{{ airPollution.list[0].components.so2 }}</p>

                    <p class="label-1">SO<sub>2</sub></p>
                  </li>

                </ul>

              </div>

              <span class="badge aqi-{{ airPollution.list[0].main.aqi }} label-1" [attr.title]="getAqiDescription(airPollution.list[0].main.aqi).longDescription">
                {{ getAqiDescription(airPollution.list[0].main.aqi).label }}
              </span>

            </div>

            <div class="card card-sm highlight-card two">

              <h3 class="title-3">Sunrise & Sunset</h3>

              <div class="card-list">

                <div class="card-item">
                  <span class="m-icon">clear_day</span>

                  <div>
                    <p class="label-1">Sunrise</p>

                    <p class="title-1">{{ (currentWeather.sys.sunrise * 1000) | date: 'shortTime' }}</p>
                  </div>

                </div>

                <div class="card-item">
                  <span class="m-icon">clear_night</span>

                  <div>
                    <p class="label-1">Sunset</p>
                    
                    <p class="title-1">{{ (currentWeather.sys.sunset * 1000) | date: 'shortTime' }}</p>
                  </div>

                </div>

              </div>

            </div>

            <div class="card card-sm highlight-card">

              <h3 class="title-3">Humidity</h3>

              <div class="wrapper">
                <span class="m-icon">humidity_percentage</span>

                <p class="title-1">{{ currentWeather.main.humidity }}<sub>%</sub></p>
              </div>
              
            </div>

            <div class="card card-sm highlight-card">

              <h3 class="title-3">Pressure</h3>

              <div class="wrapper">
                <span class="m-icon">airwave</span>

                <p class="title-1">{{ currentWeather.main.pressure }}<sub> mb</sub></p>
              </div>
              
            </div>

            <div class="card card-sm highlight-card">

              <h3 class="title-3">Visibility</h3>

              <div class="wrapper">
                <span class="m-icon">visibility</span>

                <p class="title-1">{{ (currentWeather.visibility  / 1000) | number:'1.0-2' }}<sub> km</sub></p>
              </div>
              
            </div>

            <div class="card card-sm highlight-card">

              <h3 class="title-3">Feels Like</h3>

              <div class="wrapper">
                <span class="m-icon">thermostat</span>
                
                <p class="title-1">{{ convertTemperature(currentWeather.main.feels_like) | number:'1.0-0' }}°<sup>{{ isCelsius ? 'C' : 'F' }}</sup></p>
              </div>
              
            </div>

          </div>

        </div>
      </section>

      <!-- HOURLY FORECAST -->
      <section class="section hourly-forecast" aria-label="hourly forecast" data-hourly-forecast>

        <h2 class="title-2">Today at</h2>

        <div class="slider-container">
          <ul class="slider-list" data-temp>

            <li class="slider-item">
              <div class="card card-sm slider-card">

                <p class="body-3">{{ (forecast.list[0].dt * 1000) | date:'shortTime' }}</p>

                <img src="../assets/images/{{ forecast.list[0].weather[0].main }}.svg"  width="48" height="48" loading="lazy" alt="" class="weather-icon" title="">
                
                <p class="body-3">{{ convertTemperature(forecast.list[0].main.temp) | number:'1.0-0' }}&deg;<sup>{{ isCelsius ? 'C' : 'F' }}</sup></p>

              </div>
              
            </li>

            <li class="slider-item">
              <div class="card card-sm slider-card">

                <p class="body-3">{{ forecast.list[1].dt * 1000 | date:'shortTime' }}</p>

                <img src="../assets/images/{{ forecast.list[1].weather[0].main }}.svg"  width="48" height="48" loading="lazy" alt="" class="weather-icon" title="">
  
                <p class="body-3">{{ convertTemperature(forecast.list[1].main.temp) | number:'1.0-0' }}&deg;<sup>{{ isCelsius ? 'C' : 'F' }}</sup></p>
              </div>
              
            </li>
            
            <li class="slider-item">
              <div class="card card-sm slider-card">

                <p class="body-3">{{ (forecast.list[2].dt * 1000) | date:'shortTime' }}</p>

                <img src="../assets/images/{{ forecast.list[2].weather[0].main }}.svg"  width="48" height="48" loading="lazy" alt="" class="weather-icon" title="">
                
                <p class="body-3">{{ convertTemperature(forecast.list[2].main.temp) | number:'1.0-0' }}&deg;<sup>{{ isCelsius ? 'C' : 'F' }}</sup></p>

              </div>
              
            </li>
            
            <li class="slider-item">
              <div class="card card-sm slider-card">

                <p class="body-3">{{ (forecast.list[3].dt * 1000) | date:'shortTime' }}</p>

                <img src="../assets/images/{{ forecast.list[3].weather[0].main }}.svg"  width="48" height="48" loading="lazy" alt="" class="weather-icon" title="">
  
                <p class="body-3">{{ convertTemperature(forecast.list[3].main.temp) | number:'1.0-0' }}&deg;<sup>{{ isCelsius ? 'C' : 'F' }}</sup></p>

              </div>
              
            </li>
            
            <li class="slider-item">
              <div class="card card-sm slider-card">

                <p class="body-3">{{ (forecast.list[4].dt * 1000) | date:'shortTime' }}</p>

                <img src="../assets/images/{{ forecast.list[4].weather[0].main }}.svg"  width="48" height="48" loading="lazy" alt="" class="weather-icon" title="">
  
                <p class="body-3">{{ convertTemperature(forecast.list[4].main.temp) | number:'1.0-0' }}&deg;<sup>{{ isCelsius ? 'C' : 'F' }}</sup></p>

              </div>
              
            </li>
            
            <li class="slider-item">
              <div class="card card-sm slider-card">

                <p class="body-3">{{ (forecast.list[5].dt * 1000) | date:'shortTime' }}</p>

                <img src="../assets/images/{{ forecast.list[5].weather[0].main }}.svg"  width="48" height="48" loading="lazy" alt="" class="weather-icon" title="">
  
                <p class="body-3">{{ convertTemperature(forecast.list[5].main.temp) | number:'1.0-0' }}&deg;<sup>{{ isCelsius ? 'C' : 'F' }}</sup></p>

              </div>
              
            </li>
            
            <li class="slider-item">
              <div class="card card-sm slider-card">

                <p class="body-3">{{ (forecast.list[6].dt * 1000) | date:'shortTime' }}</p>

                <img src="../assets/images/{{ forecast.list[6].weather[0].main }}.svg"  width="48" height="48" loading="lazy" alt="" class="weather-icon" title="">
  
                <p class="body-3">{{ convertTemperature(forecast.list[6].main.temp) | number:'1.0-0' }}&deg;<sup>{{ isCelsius ? 'C' : 'F' }}</sup></p>

              </div>
              
            </li>

          </ul>

          <ul class="slider-list" data-wind>

            <li class="slider-item">
              <div class="card card-sm slider-card">

                <p class="body-3">{{ (forecast.list[0].dt * 1000) | date:'shortTime' }}</p>

                <img src="../assets/images/direction.png"  width="48" height="48" loading="lazy" alt="" class="weather-icon" title="">
  
                <p class="body-3">{{ forecast.list[0].main.humidity }}%</p>

              </div>
              
            </li>


            <li class="slider-item">
              <div class="card card-sm slider-card">

                <p class="body-3">{{ (forecast.list[1].dt * 1000) | date:'shortTime' }}</p>

                <img src="../assets/images/direction.png"  width="48" height="48" loading="lazy" alt="" class="weather-icon" title="">
  
                <p class="body-3">{{ forecast.list[1].main.humidity }}%</p>

              </div>
              
            </li>

            <li class="slider-item">
              <div class="card card-sm slider-card">

                <p class="body-3">{{ (forecast.list[2].dt * 1000) | date:'shortTime' }}</p>

                <img src="../assets/images/direction.png"  width="48" height="48" loading="lazy" alt="" class="weather-icon" title="">
  
                <p class="body-3">{{ forecast.list[2].main.humidity }}%</p>

              </div>
              
            </li>

            <li class="slider-item">
              <div class="card card-sm slider-card">

                <p class="body-3">{{ (forecast.list[3].dt * 1000) | date:'shortTime' }}</p>

                <img src="../assets/images/direction.png"  width="48" height="48" loading="lazy" alt="" class="weather-icon" title="">
  
                <p class="body-3">{{ forecast.list[3].main.humidity }}%</p>

              </div>
              
            </li>

            <li class="slider-item">
              <div class="card card-sm slider-card">

                <p class="body-3">{{ (forecast.list[4].dt * 1000) | date:'shortTime' }}</p>

                <img src="../assets/images/direction.png"  width="48" height="48" loading="lazy" alt="" class="weather-icon" title="">
  
                <p class="body-3">{{ forecast.list[4].main.humidity }}%</p>

              </div>
              
            </li>

            <li class="slider-item">
              <div class="card card-sm slider-card">

                <p class="body-3">{{ (forecast.list[5].dt * 1000) | date:'shortTime' }}</p>

                <img src="../assets/images/direction.png"  width="48" height="48" loading="lazy" alt="" class="weather-icon" title="">
  
                <p class="body-3">{{ forecast.list[5].main.humidity }}%</p>

              </div>
              
            </li>

            <li class="slider-item">
              <div class="card card-sm slider-card">

                <p class="body-3">{{ (forecast.list[6].dt * 1000) | date:'shortTime' }}</p>

                <img src="../assets/images/direction.png"  width="48" height="48" loading="lazy" alt="" class="weather-icon" title="">
  
                <p class="body-3">{{ forecast.list[6].main.humidity }}%</p>

              </div>
              
            </li>

          </ul>



        </div>

      </section>

    </div>

    <div class="loading" data-loading></div>


  </article>
</main>


<section class="error-content" data-error-content>
  <h2 class="heading">404</h2>

  <p class="body-1">Page Not Found!</p>

  <a href="#" class="btn-primary">
    <span class="span">Go Home</span>
  </a>
</section>

